/* :root {
    colors
    --theme: #ec3d46;
    --dark-clr: #000;
    --light-clr: #fff;

    sizes
    --size-50: .5rem;
    --size-75: .75rem;
    --size-100: 1rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-175: 1.75rem;
    --size-200: 2rem;
    --size-225: 2.25rem;
    --size-250: 2.5rem;
} */