@import './reset.css';

* {
    --theme: #ec3d46;
}

html {
    font-size: 12px;
    /* background-image: linear-gradient(150deg, #000, var(--theme)); */
    background: rgb(0,0,0);
    background: linear-gradient(150deg, #000 0%, var(--theme) 100%);
}

body {
    color: #fff;
    min-height: 100vh;
    /* background-image: linear-gradient(150deg, #000, var(--theme)); */
    background: url("../images/scholes-back.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}
    header h1 {
        /* font-family: sans-serif; */
        color: var(--theme);
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2.5rem;
    }
    header h1 span {
        color: #eee;
        margin-left: 2rem;
        margin-top: -1.5rem;
        font-size: 3rem;
    }

main.app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
}

.button {    
    font: inherit;
    /* font-size: var(--size-200); */
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* border: 4px solid var(--theme); */
    outline: none;
    /* background: var(--color-secondary); */
    margin: 0 auto;
    padding: .75rem 2rem;
    cursor: pointer;
    position: relative;
    transition: transform 100ms ease-in-out;
}
    /* .button:hover {
        background: var(--theme);
        color: var(--color-light);
    } */
    .button:active {
        transform: scale(0.98);
    }

.quote-elem {
    display: grid;
    
    /* justify-content: flex-start;
    align-content: flex-start; */
    grid-template-areas: 'I A'
                         'I T'
                         'Q Q';
    /* max-width: 30rem; */
    margin: 3rem auto 3rem 0;
    grid-auto-columns: 1fr 2fr;
}

.quote-elem img.image {
    grid-area: I;
    width: 6rem;
    height: auto;
    margin: auto 2rem -1rem;
    /* border-radius: 50%; */
    border-radius: .5rem;
    border: 2px solid #fff;
    /* margin-left: 2rem;
    margin-bottom: -1rem; */
    /* transform: translateX(1.5rem) translateY(1rem); */
    /* margin: auto 0 -1rem 1rem; */
}
.quote-elem h2.author {
    grid-area: A;
    font-size: 1.75rem;
    /* transform: translateX(-.5rem) translateY(1.5rem); */
    align-self: flex-end;
    /* margin: 1.5rem .5rem auto 0; */
}
.quote-elem span.desc {
    grid-area: T;
    /* transform: translateX(-.5rem); */
    align-self: flex-start;

}
.quote-elem p.quote {
    grid-area: Q;

    background: linear-gradient(90deg, var(--theme), transparent);
    padding: 2rem 1rem 1rem;
    color: #fff;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
    border-left: solid 5px #fff;
}

@media (min-width: 414px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}