@import './reset.css';

* {
    --theme: #ec3d46;
}

html {
    font-size: 12px;
    background-image: linear-gradient(150deg, #000, var(--theme));
}

body {
    /* background-image: linear-gradient(150deg, #000, var(--theme)); */
    background: url("../images/scholes-back.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

header {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}
    header h1 {
        color: red;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.75rem;
    }
    header h1 span {
        color: #fff;
        margin-left: 3rem;
        margin-top: -2rem;
        font-size: 2.5rem;
    }

main.app {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    outline: 1px solid lime;
}

.quote {
    display: grid;
    grid-template-areas: 'I A'
                         'I T'
                         'Q Q';
    max-width: 30rem;
}

.quote img.image {
    grid-area: I;
}
.quote h3 {
    grid-area: A;
}
.quote span {
    grid-area: T;
}
.quote p {
    grid-area: Q;
}

@media (min-width: 414px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}