@import './reset.css';

h1 {
    color: lime;
}
    h1 span {
        color: red;
        
    }

.quote {
    display: grid;
    grid-template-areas: 'I A'
                         'I T'
                         'Q Q';
    max-width: 30rem;
}

.quote img.image {
    grid-area: I;
}
.quote h3 {
    grid-area: A;
}
.quote span {
    grid-area: T;
}
.quote p {
    grid-area: Q;
}